.row {
    margin-left: -7px!important;
    margin-right: -7px!important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative!important;
    min-height: 1px!important;
    padding-left: 7px!important;
    padding-right: 7px!important;
}

.stylish-input-group .form-control {
    border-right: 0!important;
    box-shadow: 0 0 0!important;
    border-color: #e2ddc9!important;
    background: #fff!important;
    height: 36px!important;
}

.text-danger{
    color: #a94442!important;
}

.bgnd-white{
    background-color: #fff!important;
}

.bgnd-grey-light {
    background-color: #fcfcfc!important;
}

.bgnd-light-yellow {
    background-color: #ffffdc!important;
}

.space7{
    height: 7px;
}

.space5{
    height: 5px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
    color: #333;
}

.dropdown-menu {
    z-index: 10310!important;
}

#table-product>tbody>tr>td, #table-product>tbody>tr>th, #table-product>tfoot>tr>td, #table-product>tfoot>tr>th, #table-product>thead>tr>td, #table-product>thead>tr>th{
    padding: 8px!important;
    line-height: 1.42857143!important;
    vertical-align: top!important;
    border-top: 0px solid #ddd!important;
}

#table-product>thead>tr>th {
    vertical-align: bottom!important;
    border-bottom: 0px solid #ddd!important;
}

#table-product2>tbody>tr>td, #table-product2>tbody>tr>th, #table-product2>tfoot>tr>td, #table-product2>tfoot>tr>th, #table-product2>thead>tr>td, #table-product2>thead>tr>th{
    line-height: 1.42857143!important;
    vertical-align: top!important;
    border-top: 0px solid #ddd!important;
}

#table-product2>thead>tr>th {
    vertical-align: bottom!important;
    border-bottom: 0px solid #ddd!important;
}

#table-product3>tbody>tr>td, #table-product3>tbody>tr>th, #table-product3>tfoot>tr>td, #table-product3>tfoot>tr>th, #table-product3>thead>tr>td, #table-product3>thead>tr>th{
    line-height: 1.42857143!important;
    vertical-align: middle!important;
    padding: 5px;
}

#table-product3>thead>tr>th {
    vertical-align: bottom!important;
    border-bottom: 0px solid #ddd!important;
}

#table-product3>tbody>tr>td, #table-product3>thead>tr>th {
    font-size: 14px;
}

#table-checkout>tbody>tr>td, #table-checkout>thead>tr>th {
    font-size: 14px;
}

.order-confirmation>tbody>tr>td {
    padding: 5px!important;
}

label {
    font-weight: 200!important;
    font-size: 14px!important;
}

.yellow-star a:hover{
    color: #194e7c!important;
}

.small{
    font-size: 85%!important;
}

.text-grey {
    color: #666!important;
    text-shadow: none!important;
    /* font-size: 110%!important; */
}

.text-red{
    color: #f77b55!important;
}

.text-warning{
    color: #66512c!important;
}

.text-success {
    color: #3c763d!important;
}

.my-headline {
    color: #888!important;
}

.cart-sub .h4{
    font-size: 1em!important; /* 18px!important */
}

.h4{
    font-size: 18px!important;
}

/***** Menu için eklendi *******/

#myNavbar > ul > li > a{
    /* height:52px; */
    /* line-height:32px !important; */
    font-size:14px !important;
    /*margin-left:-7px !important;*/
}
/*
#myNavbar > ul > li:not(.dropdown) > a{
    padding: 10px 12px !important;
}
*/
/*
#header .header-nav-main nav > ul > li > a > i.fa.fa-caret-down:after{
    vertical-align:bottom;
}
*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #666;
}

#myNavbar .navbar-nav > li > a:hover, #myNavbar .navbar-nav > li > a:focus, #myNavbar .navbar-nav > li > ul > li > a:hover, #myNavbar .navbar-nav > li > ul > li > a:focus {
    background-color: #888 !important;
    border-radius:0 !important;
    color: #fff /*#607d8b*/ !important;
}

@media (min-width: 992px) {
    #myNavbar > ul > li > a.dropdown-toggle:after{
        top:11px !important;
    }
    #myNavbar {
        /* padding: 0 !important; */
        padding-right: 10px!important;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }
}
/* Menu için bitti */

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
    cursor: not-allowed;
}